# Day 1 OOPS

OOPS
Classes
Objects
Methods
Implementation

oops---> object oriented programming

class?
blueprint
description on how the object looks like
collection of objects

object?
refers to an real world entity having certain behaviours and properties

methods?
set of code perforing similar task

Syntax:

class?
class name:

object?
object_name=class_name()

method?
def method_name(self):

In [4]:
class 1235:
    a=2+2
    print(a)

SyntaxError: invalid syntax (<ipython-input-4-96626903dee2>, line 1)

In [5]:
class a1234:
    a=2+2
    print(a)
    #start with alphabet

4

In [6]:
class a_:
    a=2+2
    print(a)

4

In [7]:
class _a:
    a=2+2
    print(a)

4

In [8]:
class @dhjdh:
    a=2+2
    print(a)

SyntaxError: invalid syntax (<ipython-input-8-08e609803397>, line 1)

In [9]:
class _1235:
    a=2+2
    print(a)

4

In [10]:
class 1235_:
    a=2+2
    print(a)

SyntaxError: invalid decimal literal (<ipython-input-10-9ae102dc7601>, line 1)

method?
def method_name(self):

In [16]:
#this is a user defined function
#this independent-->no need self
#i can directly access / call it


def abc(a,b): #1
    return a+b #3
abc(2,2) #2

4

add()-->add
abc()-->can add

object?
object_name=class_name()

In [30]:
#this is a method
#this is dependent/ inside the class--->self
#i can only call it with the help of object



class demo:
    def abc1(self,a,b):
        return a+b
a=demo() 
a.abc1(2,2)

4

In [31]:
class demo2:
    def fun1(self,x,y):
        return x+y
    def fun2(self,x,y):
        return x-y

In [32]:
a2=demo2()

In [33]:
a2.fun1(5,9)

14

In [34]:
a2.fun2(5,3)

2

In [35]:
class employee:
    def details(self,name,location):
        print("Name= ",name)
        print("Location= ", location)
    
    def data_emp(self,eid,department):
        print("Employee ID= ",eid)
        print("Department= ",department)

In [36]:
john=employee()

In [37]:
john.details("John","Bangalore")

Name=  John
Location=  Bangalore

In [38]:
john.data_emp(100,"Technical")

Employee ID=  100
Department=  Technical

In [40]:
ema=employee()

In [41]:
ema.details("Ema","Delhi")

Name=  Ema
Location=  Delhi

In [42]:
ema.data_emp(101,"Operations")

Employee ID=  101
Department=  Operations

In [43]:
#local and global variable

In [44]:
class demo3:
    p=80
    q=90
    def fun3(self,a):
        s=a+self.p
        return s
    def fun4(self,b):
        h=b+self.q
        return h

In [45]:
a3=demo3()

In [46]:
a3.fun3(10)

90

In [47]:
a3.fun4(10)

100

Banking Case Study

1. main_balance--->0
2. check_balance()--->print my main_balance
3. deposit()------> MB---->x(amount)----->MB+x--->MB
4. withdraw()-----> MB---->y(amount)----->Y-MB=MB
        mb>y---->success
        --------->insuff funds

In [57]:
class bankaccount:
    main_bal=0
    def checkbal(self):
        print("your current balance is: ",self.main_bal)
    def deposit(self,x):
        self.main_bal=self.main_bal+x
        print("the cash depositted is: ", x)
    def withdraw(self,y):
        if self.main_bal>=y:
            self.main_bal=self.main_bal-y
            print(" the amount debitted is: ",y)
        else:
            print("insufficient funds")

In [58]:
person1=bankaccount()

In [59]:
person1.checkbal()

your current balance is:  0

In [60]:
person1.deposit(1000)

the cash depositted is:  1000

In [61]:
person1.checkbal()

your current balance is:  1000

In [62]:
person1.withdraw(2000)

insufficient funds

In [63]:
person1.checkbal()

your current balance is:  1000

In [64]:
person1.withdraw(500)

 the amount debitted is:  500

In [65]:
person1.checkbal()

your current balance is:  500

In [66]:
person2=bankaccount()

In [67]:
person2.checkbal()

your current balance is:  0

In [68]:
#constructor
#. default
#parameterised

def __init__(self):

In [82]:
class abc:
    def __init__(self):
        self.day="sunday"
        print("this is my constructor")
    def display(self):
        print("today is ",self.day)
    def disp(self):
        print(self.day,"is a good day")

In [83]:
b=abc()

this is my constructor

In [80]:
b.display()

today is  sunday

In [81]:
b.disp()

sunday is a good day

In [94]:
class addition:
    a=0
    b=0
    result=0
    
    def display(self):
        print("first number= ",self.a)
        print("second number= ",self.b)
        print("result= ",self.result)
    def calculate(self):
        self.result=self.a+self.b
        print(self.result)

In [102]:
b1=addition(10,89)

TypeError: addition() takes no arguments

In [96]:
b1.display()

first number=  0
second number=  0
result=  0

In [97]:
b1.calculate()

0

In [103]:
class addition2:
    a=0
    b=0
    result=0
    
    def __init__(self,one,two):
        self.a=one
        self.b=two
    
    
    def display(self):
        print("first number= ",self.a)
        print("second number= ",self.b)
        print("result= ",self.result)
    def calculate(self):
        self.result=self.a+self.b
        print(self.result)

In [99]:
b2=addition2(100,200)

In [100]:
b2.display()

first number=  100
second number=  200
result=  0

In [101]:
b2.calculate()

300